        *{
            font-family: 'Baumans', cursive;
            letter-spacing: 1px;
        }
        .baccofull{
            position:relative;
            width:100%;
            height:800px;
        }
        .bacco{
            overflow:scroll;
            background-size:cover;
            background-repeat:no-repeat;
            background-size:cover;
            min-width: fit-content;
            min-width: 100%;
            min-height: 100%;
            width:inherit;
            height:inherit;
        }
        .box,.filterbox{
            position:absolute;
            width:100%;
            height:100px;
            color:black;
            text-align:center;
            display:flex;
            align-items:center;
            flex-direction: column;
            flex-wrap: wrap;
        }
        .filterlist{
            position:absolute;
        }
        .filter{
            font-size:50px;
            transition: .5s;
        }
        .filter:hover{
            font-size:75px;
        }
        .filterbox{
            justify-content:space-around;
            top:100px;
        }
        .searchbar{
            width:100px;
            height:20px;
            top:50px;
        }
        .namebox{
            display:flex;
            border-radius: 50px;
            border: 10px solid rgb(26, 182, 109);
            padding: 10px;
            transition: all 0.2s ease-out 100ms;
            flex-direction: row;
            flex-wrap: wrap; /* allocates extra space in between or around our elements */
            animation: fadein ease .5s;
            position:relative;
            z-index:1;
            top:0px;
            height:auto;
            width:auto;
        }
#searchbar{
     padding:15px;
     border-radius: 100px;
}