<html>
    <head>
        <link rel="stylesheet" href="../static/stylesheet.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Baumans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/stylesheet.css">
    </head>
<img class="bacco" src="{{ url_for('static',filename='img/amiibobg.png')}}">
{% for i in api['amiibo'] %}
        <div class="characterbox">
            <img class="amiibopic" src="{{i['image']}}">
            <h1>{{i['name']}}</h1>
            <p>{{i['gameSeries']}}</p>
        </div>
{% endfor %}
</html>
