<html>
    <head>
        <link rel="stylesheet" href="../static/stylesheet.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Baumans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/stylesheet.css">
    </head>
<img class="bacco" src="{{ url_for('static',filename='img/amiibobg.png')}}">
<p>this demo has been limited to only mario amiibo for testing purposes</p>
{% for i in api['amiibo'] %}
    {% if i['gameSeries']=="Super Mario" %}
        <div class="characterbox">
            <img class="amiibopic"src="{{i['image']}}">
            {% for i in sortednamedict %}
                <h1>{{i}}</h1>
            {% endfor %}
            <p>{{i['gameSeries']}}</p>
        </div>
    {% endif %}
{% endfor %}
</html>
