<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/stylesheet.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baumans&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="box">
      <h1 class="heading">Amiibo API Search</h1>
      <input class="searchbar" type="text" placeholder="Amiibo Name...">
    </div>
    <div class="filterbox">
      <ul class="filterlist"> Filter by
        <li class="filter">Game Series</li>
        <li class="filter">Characters</li>
      </ul>
      {% for amiibo in api.results %}
      <h3>{{amiibo.name}}</h3>
      {% endfor %}
    </div>
    <img class="bacco" src="{{ url_for('static',filename='img/amiibobg.png')}}">
  </body>
</html>
