<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/stylesheet.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baumans&display=swap" rel="stylesheet">
  </head>
  <body>
  <div>
    <h1 class="heading">Amiibo API Search</h1>
    <form method="GET">
      <input type="text" id="amiiboname" name="amiiboname" placeholder="Amiibo name..">
    </form>
      <ul class="filterlist"> Filter by
        <li class="filter">amiibotypes</li>
            <form action="" method="GET"></form>
              <input type="button" name="typesort" class="typebutton" value="figure" onclick="location.href='type.html';"/>
              <input type="button" name="typesort" class="typebutton" value="card" onclick="location.href='type.html';"/>
              <input type="button" name="typesort" class="typebutton" value="yarn" onclick="location.href='type.html';"/>
              <input type="button" name="typesort" class="typebutton" value="band" onclick="location.href='type.html';"/>
            </form>
        <a href="{{ url_for('sortCharacter') }}"><li class="filter">Characters</li></a>
        <a href="{{ url_for('allamiibo') }}"><li class="filter">All Amiibo</li></a>
      </ul>
    <img class="bacco" src="{{ url_for('static',filename='img/amiibobg.png')}}">
  </div>
  </body>
</html>

<!-- figure,card,band,yarn-->
<!-- 
  <form method="get">
        <input type="text" id="amiiboname" name="amiiboname" placeholder="Amiibo name..">
      </form>
  <li class="filter">Game Series</li>
            {% for i in api['amiibo'] %}
            <form action="" method="get"></form>
              <input type="button" name="seriessorttype" class="gameseriesbutton" value="{{i['gameSeries']}}" onclick="location.href='gameseries.html';"/>
            </form>
            {% endfor %}-->